TD2 exo1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- New XSD document created with EditiX XML Editor (http://www.editix.com) at Mon Apr 22 18:38:26 GMT 2024 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Etudiant">
	<xs:complexType>
	<xs:sequence>
		<xs:element name="nom" type="xs:string"></xs:element>
		<xs:element name="prenom" type="xs:string"></xs:element>
		<xs:element name="age" type="xs:decimal"></xs:element>
		<xs:element name="filier" type="xs:string"></xs:element>
	</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>

